.work-section{
    width: 100%;
    min-height: 100vh; 
    position: relative; 
    padding: 0 6%;
    top: 3rem; 
}
.work-head{ 
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    font-family: font;
    font-weight: bold;
}
.work-head h1{ 
    font-size: clamp(3rem,4vw,8rem);
}
.work-head span{
    font-family: Arial, Helvetica, sans-serif;
  
}  
.project-sec{ 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    /* background-color: red; */

} 
.portfolio-cont{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}
.portfolio-pic{
    width: 100%; 
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
}
.portfolio-pic img{
    width: 100%;
}  
 
.about{ 
    padding: .8rem 3%;

    border-bottom: 1px solid var(--border-hover);
}
.about h3{
    font-size: 1.5rem;
    font-family: fontty;
}
.about p{ 
    font-family: fonty;
    line-height: 2rem;
} 
.live{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
    padding: 1.2rem 3%;
} 
.portfolio-overlay {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.527); 
} 
.portfolio-overlay .bx:hover { 
    transition: 0.3s all linear;
}
.portfolio-overlay h2 {
    margin-bottom: 10px;
} 
.portfolio-pic:hover .portfolio-overlay {
    top: 0; 
}  
/*  MEDIA QUERY MEDIUM SCREEN */
@media screen and (max-width:900px) {
    .work-section{ 
        padding: 0 3%;
        top: 0;  
    }
    .work-head{ 
        width: 90%; 
        padding: 1rem 0; 
    }
    .project-sec{ 
        grid-template-columns:1fr;
        row-gap: 1.5rem;
    
    }  
    .about p{ 
        font-family: fonty;
        line-height: 2rem;
    } 
} 
@media screen and (max-width:490px) {   
    .portfolio-cont{ 
        min-height: 70vh;  
    }
 

}

 